# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env/

# IDE and Editor configurations
.vscode/
.idea/
*.swp
*.swo

# Project specific
screenshots/
